<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.application.memory_game_a_ba_ta_sa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LoginScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SectionScreen"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".ModScreen"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".GameScreenFree"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".GameScreenTime"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".GameScreenHard"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".ScoreScreen"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />

    </application>
</manifest>